<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.email %>!</h1>
    <div align="center">
      <%= image_tag(@photo) %>
    </div>
  </body>
</html>
