/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #container {
   margin: 48px auto;
   width: 960px;

   > {
     section {
       clear: both;
     }

     header {
       margin-bottom: 46px;

       > h1 {
         float: left;
         margin: 0;
       }
     }
   }
 }

 .clearfix:after {
   clear: both;
   content: ".";
   display: block;
   height: 0;
   line-height: 0;
   visibility: hidden;
 }

 html[xmlns].clearfix {
   display: block;
 }

 * html .clearfix {
   height: 1%;
 }
